body{
    font: normal 15pt Arial, Helvetica, sans-serif;
    background-position: center center;
    height: 96vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header{
    color: white;
    text-align: center;
}
section{
  background-color: transparent;
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
  
}
div{
    text-align: center;
    position: relative;
    transform: translateY(300%);
    font: 20pt Arial, Helvetica, sans-serif;
    color:white
}
footer{
 font-size: italic 12pt Arial, Helvetica, sans-serif;
 text-align: center;
 color: white;
}